.panic-button {
  margin-top: 450px;
  size-adjust: 20px;
  position: fixed; /* Fijo en la pantalla */
  top: 20px; /* Distancia del borde superior */
  right: 100px; /* Distancia del borde derecho */
  background-color: #bb1919; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 20px 30px; /* Espaciado interno */
  border-radius: 50px; /* Bordes redondeados */
  box-shadow: 0 2px 5px rgba(248, 46, 46, 0.3); /* Sombra */
  cursor: pointer; /* Cambiar el cursor al pasar el mouse */
  z-index: 1000; /* Asegurar que esté encima de otros elementos */
  transition: background 0.3s; /* Transición suave */
  font-size: 18px;
}

.panic-button:hover {
  background-color: #e91e63; /* Color al pasar el mouse */
}
