/* src/components/SafetyGuide.css */
.safety-guide {
    padding: 20px;
  }
  
  .recommendations, .contacts {
    margin-bottom: 20px;
  }
  
  .recommendations ul, .contacts ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  h2 {
    color: #ff007a;
    text-align: center;
  }
  
  h3 {
    color: #333;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  /* Sección de Contacto */
#contacto {
    background-color: #f8f9fa;
    padding: 40px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  #contacto h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    color: #333;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    border-color: #ff4081;
    box-shadow: 0 0 5px rgba(255, 64, 129, 0.5);
    outline: none;
  }
  
  textarea {
    height: 150px;
    resize: vertical;
  }
  
  button[type="submit"] {
    background-color: #ff4081;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #e91e63;
  }
  
  #contacto p {
    color: green;
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
  }